*{margin:0;padding:0;box-sizing: border-box;}
ul,ol{
    list-style: none;
}
img{max-width: 100;}

.clearfix::after{
    content:'' ;
    display:block;
    clear:both;
}
.logo{
    background: grey;
    display: inline-block;
    float: left;
    margin-top: 8px;
    margin-left: 10px;

}
.logo>img{
    height: 26px;
    vertical-align: top;
}
.nav{
    float: left;
    margin-left: 20px;
}

ul>li {
    float: left;
    padding: 4px 0.5em;
    line-height: 32px;
}
ul{
    display: inline-block
}
header{
    background: grey;
    color: white;
}
.content{
    outline: 1px solid red;
    width: 800px;
}
.content>aside{
    width: 200px;
    border: 1px solid green;
    height: 300px;
    float: left;
}
.content>main{
    border: 1px solid purple;
    height: 300px;
    width: 500px;
    float: left;
}
.content>.ad{
    width: 110px;
    border: 1px solid black;
    height: 300px;
    float: left;
}
